{% extends 'base.html' %}
{% block content %}
<canvas id="stockChart" height="100"></canvas> <!-- 세로 크기 변경 -->
<script>
    var ctx = document.getElementById('stockChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ dates | tojson }},
            datasets: [{
                label: '주가',
                fill: false,
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: {{ prices | tojson }}
            }]
        },
        options: {
            layout: {
                    padding: {
                        left: 80,
                        right: 80
                    }
            },
            scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
            },
            elements: {
                    line: {
                        tension: 0 // 0은 직선, 1에 가까울수록 곡선
                    }
            },
            legend: {
                    position: 'bottom', // 레이블 위치 설정
                    align: 'end', // 레이블 정렬 설정
                    labels: {
                        boxWidth: 20 // 레이블의 박스 너비 설정
                    }
            }
        }
    });
</script>
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>종목코드</th>
            <th>거래일자</th>
            <th>주가</th>
        </tr>
        </thead>
        <tbody>
        {% if stockprice %}
        {% for stock in stockprice %}
        <tr>
            <td class="align-middle">{{ stock.code }}</td>
            <td class="align-middle">{{ stock.t_date }}</td>
            <td class="align-middle">{{ stock.price }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">종목이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if stockprice.has_prev %}
        <li class="page-item">
            <a class="page-link" href="?page={{ stockprice.prev_num }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">이전</a>
        </li>
        {% endif %}
        <!-- 페이지번호 -->
        {% for page_num in stockprice.iter_pages() %}
        {% if page_num %}
        {% if page_num != stockprice.page %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="javascript:void(0)">{{ page_num }}</a>
        </li>
        {% endif %}
        {% else %}
        <li class="disabled">
            <a class="page-link" href="javascript:void(0)">...</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if stockprice.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ stockprice.next_num }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
</div>
{% endblock %}